<div class='top-wrapper'>
    <div class='top-inner-text'>
        <h3>次の旅、どこに行こう？</h3>
        <h7>~最適プランをご提案~</h7>
    </div>
</div>
<div class='row'>
  <div class='col-sm-6 mb-3 mb-sm-0'>
    <div class='card'>
      <div class='card-body'>
        <h4 class='card-title'>旅行先を探そう</h4>
        <p class='card-text'>人数や予算を選択するだけで、あなたにおすすめの旅行先を提案します</p>
        <%= link_to 'Travel Search', new_travel_search_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
  <div class='col-sm-6'>
    <div class='card'>
      <div class='card-body'>
        <h4 class='card-title'>旅行貯金</h4>
        <p class='card-text'>日頃の節約金額の記録をサポートします。旅行の準備を始めましょう！</p>
        <%= link_to '貯金', savings_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>