<div class='top-wrapper'>
    <div class='top-inner-text'>
        <h1>Let's Travel</h1>
    </div>
</div>
<div class='row'>
  <div class='col-sm-6 mb-3 mb-sm-0'>
    <div class='card'>
      <div class='card-body'>
        <h4 class='card-title'>旅行先を探そう</h4>
        <p class='card-text'>どこかに旅行へ行きたいな〜と思い、旅行先おすすめサイトを見たけれどいまいちピンと来なかった経験ありませんか？簡単な質問に答えるだけで「あなた」に合った旅行先を提案します！</p>
        <%= link_to 'Travel Search', new_travel_search_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
  <div class='col-sm-6'>
    <div class='card'>
      <div class='card-body'>
        <h4 class='card-title'>旅行貯金</h4>
        <p class='card-text'>旅行に行きたいけどお金が、、と思っているあなた！日頃の節約金額の記録をサポートします。あなたの日頃の節約は、次の旅行への貯金です！貯金（節約）したお金で旅行に出かけましょう！</p>
        <%= link_to '貯金', savings_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>