<h1>累計節約金額</h1>
<h2><%= @total_savings %>円</h2>
<%= render 'form', saving: @saving %>
<h4>貯金歴</h4>
<% if @savings.present? %>
<div class='row'>
  <div class='col-lg-8 offset-lg-2'>
    <table class='table'>
      <tbody id='table-saving'>
        <%= render @savings %>
      </tbody>
    </tabel>
  </div>
</div>

<% else %>
<h6>まだ貯金していません！</h6>
<p>貯金は旅行の第一歩！</p>
<% end %>