/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* グローバルスタイル */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #c3f2ff;
}

.navbar .menu {
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar .nav-link {
    text-decoration: none;
    color: #333;
    font-size: 1em;
}

.hamburger {
    display: none; /* 初期状態で非表示 */
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: #333;
}

/* レスポンシブスタイル */
@media (max-width: 1023px) {
    .hamburger {
        display: flex !important; /* 幅700px以下で表示 */
    }

    .navbar .menu {
        display: none; /* デフォルトは非表示 */
        flex-direction: column;
        gap: 10px;
        background-color: #f4f4f4;
        position: absolute;
        top: 50px;
        right: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1000;
    }

    .menu.active {
        display: flex; /* ハンバーガーメニューをクリックで表示 */
    }
}

.navbar-brand {
    font-size: 2.5rem;
    color: #ff7f50; /* 明るいオレンジで目を引く */
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
}

body {
    background: url(asset-path("plane.jpg"));
    /* background-color: #87cefa; /* 青空からのグラデーション */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #333;
    margin: 0;
    padding: 0;
}

.form-label {
    background-color: rgba(255, 255, 255, 0.5); /* 背景の白に透過を追加 */
    backdrop-filter: blur(5px); /* ボカシ効果 */
    padding: 5px 10px; /* 内側の余白を設定 */
    border-radius: 5px; /* 角を丸くする */
    display: inline-block; /* サイズをテキストに合わせる */
    color: #333; /* 文字の色を調整 */
}